body {
  background-image: url("/images/s1.jpg");
}

.birthday{
    color: white;
}

.email{
    color: white;
}

.fname{
    color: white;
}

.lname{
    color: white;
}

.p1{
    color: white;
}